In [24]:
# Import packages
import pandas as pd
import warnings

In [25]:
# Ignore warnings
warnings.filterwarnings('ignore')

In [26]:
# Import data
df=pd.read_csv('raw_data.csv')

In [27]:
df.head()

,Retailer,RetailerID,InvoiceDate,Region,State,City,Product,UnitPrice,UnitsSold,TotalSales,OperatingProfit,OperatingMargin,SalesMethod
0,Foot Locker,1185732,01/01/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$600,000","$300,000",50%,In-store
1,Foot Locker,1185732,02/01/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$500,000","$150,000",30%,In-store
2,Foot Locker,1185732,03/01/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$400,000","$140,000",35%,In-store
3,Foot Locker,1185732,04/01/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store
4,Foot Locker,1185732,05/01/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store

In [28]:
df.dtypes

Retailer           object
RetailerID          int64
InvoiceDate        object
Region             object
State              object
City               object
Product            object
UnitPrice          object
UnitsSold          object
TotalSales         object
OperatingProfit    object
OperatingMargin    object
SalesMethod        object
dtype: object

To do:
- remove dollar sign
- remove percent sign
- invoice date to date type
- units sold to int
- price, sales and profit to float
- rename columns
- rearrange columns

In [29]:
# Remove dollar & percent sign
def strip_chars(val):
    val = str(val)
    val = val\
            .replace("$","")\
            .replace("%","")
    return val

df["UnitPrice"] = df["UnitPrice"].apply(strip_chars)
df["TotalSales"] = df["TotalSales"].apply(strip_chars)
df["OperatingProfit"] = df["OperatingProfit"].apply(strip_chars)
df["OperatingMargin"] = df["OperatingMargin"].apply(strip_chars)

In [30]:
# Convert invoice date
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [31]:
# Strip comma on units sold 
df['UnitsSold'] = df['UnitsSold'].str.replace(',', '').astype(int)

In [32]:
# Convert to float
df['UnitPrice'] = df['UnitPrice'].astype(float)
df['TotalSales'] = df['TotalSales'].str.replace(',', '').astype(float)
df['OperatingProfit'] = df['OperatingProfit'].str.replace(',', '').astype(float)

In [33]:
# Rename columns
df.rename(columns = {'UnitPrice':'Price($)', 'UnitsSold':'Units', 'TotalSales':'Sale($)','OperatingProfit':'Profit($)','OperatingMargin':'Margin(%)','SalesMethod':'Channel'}, inplace = True)

In [34]:
#Add country column
df['Country'] = 'United States'

In [35]:
# Re-arrange columns
new_cols= ['RetailerID', 'Retailer', 'Product', 'Country', 'Region', 'State', 'City', 'InvoiceDate', 'Price($)', 'Units', 'Sale($)', 'Profit($)', 'Margin(%)', 'Channel']
df = df.reindex(columns=new_cols)

In [36]:
df.head()

,RetailerID,Retailer,Product,Country,Region,State,City,InvoiceDate,Price($),Units,Sale($),Profit($),Margin(%),Channel
0,1185732,Foot Locker,Men's Street Footwear,United States,Northeast,New York,New York,2020-01-01,50.0,1200,600000.0,300000.0,50,In-store
1,1185732,Foot Locker,Men's Athletic Footwear,United States,Northeast,New York,New York,2020-02-01,50.0,1000,500000.0,150000.0,30,In-store
2,1185732,Foot Locker,Women's Street Footwear,United States,Northeast,New York,New York,2020-03-01,40.0,1000,400000.0,140000.0,35,In-store
3,1185732,Foot Locker,Women's Athletic Footwear,United States,Northeast,New York,New York,2020-04-01,45.0,850,382500.0,133875.0,35,In-store
4,1185732,Foot Locker,Men's Apparel,United States,Northeast,New York,New York,2020-05-01,60.0,900,540000.0,162000.0,30,In-store

In [37]:
# Save date to csv
df.to_csv('clean_data.csv', index=False)

Check for data vizualization on tableau